

// color variables
$yellow: #FBB040;
$green: #7FBC42;
$grey: #414042;
$blue: #0081C3;
$orange: #EC5946;


@import "reset";

@import "fonts";

@import "mixins";

@import "base";

@import "grid";

@import "../js/lib/magnific/dist/magnific-popup.css";


@mixin img-max-width {
	max-width: 100%;
}

img {
	max-width: 100%;
}


// background-container
.container {
	background: white;
	padding-bottom: 40px;
	max-width: 1150px;
	margin: 0 auto;
	box-shadow: 0 0 30px rgba( #666, .4 );

	@include respond-to( 1220px ) {
		padding-bottom: 20px;
	}
}



// colors
.bg-green {
	background: $green;
	color: white;
	box-shadow: 0 10px 20px rgba( #666, .4 );

	img { @include img-max-width; }
}


.bg-yellow {
	padding: 10px;
	background: $yellow;

	img {
		display: block;
		margin: 0 auto;
		@include img-max-width;
	}
}



// wrap div
.wrap {
	max-width: 1150px;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}


header {
	img {
		display: block;
		@include img-max-width;
	}
}


.pad {
	padding: 20px;

	@include respond-to( 768px ) {
		padding: 40px 60px;
	}

	&.no-top {
		padding-top: 0;
	}
}


.intro {
	text-align: center;
	padding: 0 0 30px 0;

	h2 {
		font-size: 2.4em;
		color: $blue;
		text-transform: uppercase;
	}

	p {
		font-size: 1.2em;
	}
}


// project styles
.projects {
	@include clearfix;
	color: $blue;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	
	.vote-buttons {
		padding: 10px 0 20px 0;
		font-size: .8em;
	}
	
	.error {
		color: lighten( red, 20% );
	}

	.success {
		color: $green;
	}

	.project-photo {
		display: block;
		height: 250px;
		overflow: hidden;
		margin-bottom: 15px; 
	}

	.project {
		&:nth-child(3), &:nth-child(6), &:nth-child(9), &:nth-child(12), &:nth-child(15), &:nth-child(18), &:nth-child(21), &:nth-child(24) {
			@include respond-to( 768px ) {
				clear: left;
			}
		}
	}

	a {
		color: $blue;
	}
}



// footer styles
.footer-bar {
	color: $grey;
	padding: 30px 20px 0;
	font-size: .8em;

	h2, h4 {
		&, a {
			color: $grey;
		}

		@include font-title;
	}

	h2 {
		font-size: 3em;
		@include respond-to( 768px ) { font-size: 3.5em; }
	}

	h4 {
		font-size: 17px;
		@include respond-to( 800px ) { font-size: 26px; }
	}

	.address {
		@include font;
		text-align: left;
		font-size: 1.2em;
		line-height: 1.5em;
		color: $blue;

		a {
			color: $blue;
		}
	}

	.phone {
		font-size: 1.4em;
	}
}


.footer-social {
	display: block;
}


.fine-print {
	padding: 40px 0 0;
	font-size: .8em;
	line-height: 1.3em;
	text-align: left;
	color: lighten( $grey, 10% );

	img {
		float: right;
		margin: 0 0 15px 15px;
	}
}

.quiet {
	display: block;
	opacity: .65;
	font-style: italic;
	font-size: .85em;
	line-height: 1.4em;
	margin-top: 10px;
}


// ADMIN STYLES

.row {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #ddd;
}

.admin {
	h3 {
		border-bottom: 2px solid #ddd;
		margin-bottom: 20px;
	}

	p {
		padding: 0;
	}

	.stats {
		.sixty {
			text-align: right;
			color: #888;
		}

		.fourty {
			text-align: left;
			font-weight: bold;
		}
	}
}